body{
    display: flex;
    justify-content: center;
    background-color: rgb(85, 85, 85)
}
main{
    display: flex;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    width: 50%;
}