@media only screen and (max-width: 700px){
    body{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    #visualh_container{
    
        grid-area: 2 / 1 / 3 / 2;
    }
    #hicksl_container{
        grid-area: 3 / 1 / 4 / 2;
    }
    #ruleo_container{
       grid-area: 4 / 1 / 5 / 2 ;
    }
    header{
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 30%;
    }
    footer{
        grid-area: 5 / 1 / 6 / 2;
        padding-left: 30%;
    }
   
}