html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header,footer,h1,h2,h3,div{
    font-family:'Source Sans',sans-serif;
}
p{
    font-family:'Open Sans',sans-serif;;
}
.card{
    border: 1px solid black;
    background-color: rgba(152, 168, 180, 0.47)
    
}
#weektext{
    border: 1px solid black;
    background-color: #5475A0;
    font-size: 3em;
}
#facebook-icon, #mail-icon, #map-icon{
    color: black;
}
footer{
    background-color:#5475A0;

}
#navigation{
    background-color: #5475A0;
}
/* #primarynav:hover{
    background-color: black;
} */
.logo{
    width: 10vh;
    border-radius: 2em;

}
footer .logo{
    width: 70px;
}


nav{
    background-color: #5475A0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}


nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul{
    display: none;
}
nav ul.open{
    display:block;
}
#hamburguerBtn span:nth-child(1) {
    display:block;
}
#hamburguerBtn span:nth-child(2) {
    display:none;
}
#hamburguerBtn.open span:nth-child(1) {
    display:none;
}
#hamburguerBtn.open span:nth-child(2) {
    display:block;
}
.herocard{
    position: relative;
    text-align: center;
}
.herotext{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 0px;
    color: #fff;
}

.card p, h1, h2, h3, img{
    padding: 20px;
    
}

#discover-main img{
    width: 300px;
}



/* form-------------------------------------------- */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}



/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}
/* FORM */

form fieldset{
    margin: 2rem 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: .5rem 2%;

}
form legend{
    color:rgb(2, 2, 2) ;
    margin: 0 1rem;
    padding: 0 0.5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: rgb(175, 36, 36);
    font-size:  .8rem;
}

form label.top, form label.top select{
    -webkit-appearance: none;
    display: block;
    font: 60px;
    border: solid 1px #999;
    border-radius:  4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0);
}

form label.sbs{
    display: block;
    padding: .75rem 0 ;
    color: #555;
}

form input.submitBtn{
    border: none;
    background-color:#5475A0;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.top input:required{
    border-left:  red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#thanksMain{
    display: flex;
    align-items: center;
    
}
#table{
    display: flex;
    justify-content: center;
}   

tr{
    background-color: lightgray;
    align-content:center;
}

tr:nth-child(even) {
    background-color: grey;
}

/* table{
    background-color: black;
} */


/* #joinMain{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
} */


table{
    display: none;
}


/* DIRECTORY */

.directoryCards{
    background-color: rgb(171, 201, 245);
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4em;
    padding: 35px;
}
.directoryCards img{
    width: auto;
    max-width: 200px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
  
}
.listCards{
    display: flex;
	flex-direction: column;
}
.listCards img{
    display: none;
}
#weather h2, p, h3{
    padding: 5px;
    margin: 5px;
}

figure img{
    max-width: 100px;
    padding: 0;
}
figure{
    padding: 0rem;
    margin: 0rem;
}


