html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header,footer,h1,h2,h3{
    font-family:'Source Sans',sans-serif;
}
p{
    font-family:'Open Sans',sans-serif;;
}
.card{
    border: 1px solid black;
    background-color: rgba(152, 168, 180, 0.47)
    
}
#facebook-icon, #mail-icon, #map-icon{
    color: black;
}
footer{
    background-color:#5475A0;

}
#navigation{
    background-color: #5475A0;
}
/* #primarynav:hover{
    background-color: black;
} */
.logo{
    width: 10vh;
    border-radius: 2em;

}
footer .logo{
    width: 70px;
}


nav{
    background-color: #5475A0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}


nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul{
    display: none;
}
nav ul.open{
    display:block;
}
#hamburguerBtn span:nth-child(1) {
    display:block;
}
#hamburguerBtn span:nth-child(2) {
    display:none;
}
#hamburguerBtn.open span:nth-child(1) {
    display:none;
}
#hamburguerBtn.open span:nth-child(2) {
    display:block;
}
.herocard{
    position: relative;
    text-align: center;
}
.herotext{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 80px;
    color: #fff;
}
.card{
    margin:10px;
}
.card p, h1, h2{
    padding: 20px;
}












