img {
    max-width: 7em;
    border-radius: 2em;
}

body {
    background-color:  #C5D5E4;
    font-family: 'Open Sans', sans-serif;
    max-width: 750px;
    align-items: center;
    display: grid;
    margin: auto;
    margin: auto;
}

header {
    border: 1px solid #bacdd8;
    background-color:  #1e55882d;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    display: grid;
    grid-template-columns: 30% 50%;
}

/* img {
    align-items: center;
} */


footer {
    max-width: 750px;
    border: 1px solid #bacdd8;
    background-color:  #1e55882d;
    display: grid;
    padding: 0.5em;
    border-radius: 1.5em;
    grid-template-rows: 50% 50%;
}
p {
    align-items: center;
    margin-left: 150px;
}